* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

.autoria {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 30px;
}

div a {
  padding-left: 10px;
}

.apresentação {
  margin-left: 260px;
  margin-top: 90px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

u {
  text-decoration-color: green;
}

.foto {
  width: 220px;
  height: 350px;
}

.fotoperfil {
  transform: translate(550px, -300px);
  width: 220px;
}

.Descrição {
  margin-top: 40px;
  width: 500px;
}

.contate-me {
  position: relative;
  top: -400px;
  width: 220px;
  font-size: 20px;
}

.ferramentas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 50px;
  margin-top: -270px;
  padding-bottom: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ferramentas i {
  padding-left: 100px;
}

.tempexperiencia {
  display: flex;
  align-items: center;
  font-size: 17px;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
}

.tempexperiencia p {
  padding-left: 100px;
}

.ferramentas2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50px;
  justify-content: space-around;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ferramentas2 i {
  padding-left: 100px;
}

.tempexperiencia2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 17px;
  justify-content: space-around;
  margin-top: -170px;
  font-family: "Courier New", Courier, monospace;
}

.tempexperiencia2 p {
  padding-left: 100px;
}

.linhainicial {
  position: relative;
  bottom: 350px;
  margin-top: 120px;
  width: 1050px;
  left: 150px;
}

.obstaculo {
  margin-top: 200px;
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
}

.projetos h1 {
  font-size: 60px;
}

.projetos a {
  font-size: 20px;
}

.formulário {
  width: 300px;
  height: 280px;
}

.jogovelha {
  width: 300px;
  height: 280px;
}

.calculadora {
  width: 290px;
  height: 280px;
}

.sitepet {
  width: 300px;
  height: 280px;
}

.app {
  width: 300px;
  height: 280px;
}

.blog {
  width: 300px;
  height: 280px;
}

.meusprojetos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
}

.meusprojetos a {
  padding-top: 20px;
  text-decoration: none;
}

.meusprojetos2 a {
  text-decoration: none;
}

.meusprojetos3 a {
  text-decoration: none;
}

.meusprojetos p {
  margin-top: 10px;
}

.meusprojetos2 p {
  margin-top: 10px;
}

.meusprojetos3 p {
  margin-top: 10px;
}

.meusprojetos3 img {
  margin-top: 20px;
}

.meusprojetos2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.meusprojetos3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.frasecontato h1 {
  font-size: 50px;
  padding-bottom: 40px;
  position: relative;
  bottom: 60px;
}

.frasecontato p {
  width: 270px;
  position: relative;
  bottom: 70px;
}

.frasecontato {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 170px;
  font-family: "Courier New", Courier, monospace;
}

form {
  width: 400px;
  font-family: "Courier New", Courier, monospace;
}

form input {
  border-width: 0 0 1px 0;
  width: 350px;
}

.envio {
  width: 120px;
  border-color: rgb(28, 241, 28);
  margin-left: 240px;
  margin-top: 30px;
  cursor: pointer;
}

#email {
  position: relative;
  top: 20px;
}

#message {
  margin-top: 70px;
}

.e-mail {
  position: relative;
  top: 15px;
}

.mensagem {
  position: relative;
  top: 30px;
}

footer p {
  font-size: 20px;
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  margin-top: 300px;
  bottom: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.linhafinal {
  width: 1050px;
  position: relative;
  left: 150px;
  top: 150px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Meunome {
    position: relative;
    right: 200px;
  }

  .apresentação {
    position: relative;
    right: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
  }

  .ferramentas {
    font-size: 20px;
    position: relative;
    top: 40px;
    right: 70px;
  }

  .projetos {
    position: relative;
    right: 50px;
  }

  .projetos h1 {
    font-size: 30px;
  }

  .meusprojetos {
    margin-right: 80px;
  }

  .meusprojetos2 {
    margin-right: 80px;
  }

  form {
    margin-left: -30px;
  }
  form input {
    width: 250px;
  }

  .envio {
    margin-left: -10px;
  }

  .meusprojetos3 {
    margin-right: 80px;
  }

  .ferramentas2 {
    font-size: 20px;
    position: relative;
    top: 180px;
    right: 70px;
  }

  .tempexperiencia {
    position: relative;
    top: 200px;
    right: 80px;
  }

  .tempexperiencia2 {
    position: relative;
    top: 100px;
    right: 80px;
  }

  .Descrição {
    position: relative;
    right: 170px;
    font-size: 16px;
    width: 200px;
  }

  .fotoperfil {
    position: relative;
    right: 350px;
  }

  .linhainicial {
    position: relative;
    width: 450px;
  }

  .linhafinal {
    position: relative;
    width: 400px;
  }
  .contate-me {
    margin-top: 90px;
    margin-left: -160px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .fotoperfil {
    position: relative;
    right: 520px;
    bottom: 10px;
  }

  .Meunome {
    position: relative;
    left: 40px;
    font-size: 30px;
    top: 600px;
  }

  .habilidades {
    position: relative;
    top: 100px;
    left: 200px;
  }

  .apresentação {
    position: relative;
    bottom: 150px;
    font-size: 17px;
    left: 1px;
  }

  .contate-me {
    margin-top: 800px;
    font-size: 16px;
    margin-left: 90px;
  }

  .linhainicial {
    position: relative;
    width: 300px;
    left: 90px;
    bottom: 300px;
  }

  .ferramentas {
    position: relative;
    right: 90px;
    margin-left: 50px;
  }

  .ferramentas p {
    padding-left: 25px;
  }

  .ferramentas2 p {
    padding-left: 25px;
  }

  .ferramentas2 {
    position: relative;
    right: 96px;
    margin-left: 50px;
  }

  .tempexperiencia {
    position: relative;
    left: -150px;
  }

  .tempexperiencia2 {
    position: relative;
    left: -150px;
  }

  .linhafinal {
    position: relative;
    top: -2680px;
    width: 300px;
    margin-left: 140px;
  }

  .projetos h1 {
    font-size: 35px;
  }

  .meusprojetos {
    display: flex;
    flex-direction: column;
  }

  .meusprojetos2 {
    display: flex;
    flex-direction: column;
  }

  .meusprojetos3 {
    display: flex;
    flex-direction: column;
  }

  .frasecontato {
    position: relative;
    left: 350px;
  }

  form {
    position: relative;
    top: 200px;
    right: 300px;
  }

  .obstaculo {
    position: relative;
    left: 180px;
  }

  .rodape {
    position: relative;
    bottom: 70px;
    left: 180px;
  }

  .cabeçalho {
    position: relative;
    left: 140px;
  }

  .Descrição {
    position: relative;
    top: 650px;
  }

  .autoria,
  p {
    width: 340px;
  }
}
